{% extends 'base.html' %}


{% block title %}
Homepage
{% endblock %}


{% block content %}
<h4>Filter Monsters</h4>

<form id="monster-filter-form" action="">
    <div class="mb-3">
        <label for="amount" class="form-label">Challenge Rating: </label>
        <input id="amount" type="text" class="form-label text-primary" readonly style="border:0; font-weight:bold;">
        <div class="mx-5">
            <div id="slider-range" class="form-control form-range"></div>
        </div>
    </div>

    <div>
        <label for="type-input" class="form-label">Type: </label>
        <div class="mx-5">
            <select name="type" id="type-input" class="form-control">
                <option value="">any type</option>
                {% for t in monster_types %}
                <option value="{{t}}">{{t}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div>
        <label for="results-per-page-input" class="form-label"></label>
        <select name="results-per-page" id="results-per-page-input" class="form-control">
            <option value="5">5 per page</option>
            <option value="10">10 per page</option>
            <option value="25">25 per page</option>
            <option value="50">50 per page</option>
            <option value="100">100 per page</option>
        </select>
    </div>

    <!-- UPDATING form on "change", so don't need submit.     
    <div>
        <button class="btn btn-primary btn-sm">Submit</button>
    </div> -->

</form>

<hr>

<h4>Monster List</h4>

{% if monsters %}
<table id="monster-table" class="table table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">CR</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody id="monster-table-body">

        <!--
        {% for m in monsters %}
        <tr>
            <td><i class="fa-solid fa-eye monster-detail" ></i></td></th>
            <td>{{m.name}}</td>
            <td>{{m.size}}</td>
            <td>{{m.cr()}}</td>
            <td>{{m.type}}</td>
        </tr>
        {% endfor %}
        -->

    </tbody>
</table>
{% else %}
There are no monsters to show.
{% endif %}

<nav aria-label="Monster list navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button id="table-prev-btn" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
            <!-- 
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
 -->
        </li>
        <!--
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        -->
        <li class="page-item">
            <button id="table-next-btn" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
            </button>
            <!-- 
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
 -->
        </li>
    </ul>
</nav>

<!-- 

{% for monster in monsters %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMonster{{monster.id}}" aria-labelledby="offcanvasMonster">
    <div class="offcanvas-header">
        <h5 id="offcanvasMonster">Monster Detail</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% include 'mon.html' %}
    </div>
</div>

{% endfor %}

 -->

{% endblock content %}