{% extends 'base.html' %}

{% block title %}
Combat Kitchen
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-4">
        <!-- LEFT PANEL: ENCOUNTERS -->
        {% include 'encounter-panel.html' %}

    </div>

    <div class="col">

        <!-- MONSTER FILTER FORM -->
        <div class="row g-2 mb-5">
            <div class="col">
                <input type="text" id="text-search-input" class="form-control" placeholder="enter search string...">
            </div>
            <div class="col-3">
                <select name="results-per-page" id="results-per-page-input" class="form-control">
                    <!-- <option value="5">5 per page</option> -->
                    <option value="10">10 per page</option>
                    <option value="25">25 per page</option>
                    <option value="50">50 per page</option>
                    <option value="100">100 per page</option>
                </select>
            </div>
            <div class="col-2 d-grid">
                <button class="btn btn-primary btn-block" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#filter-panel" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-filter"></i> Filter
                </button>
            </div>
        </div>

        {% include 'monster-filter.html' %}

        <!-- MONSTER LIST -->
        {% include 'monster-list.html' %}

    </div>
</div>

{% endblock content %}

{% block scripts %}
    <script src="/static/encounter-panel.js"></script>
    <script src="/static/monster-table.js"></script>
    <script src="/static/main.js"></script>
{% endblock %}