<h1>
    {{monster.name}}
</h1>

<p class="fst-italic">
    {{monster.size.lower()}} {{monster.type}} {% if monster.subtype %}({{monster.subtype}}){% endif %}
<p>

    <hr>

<div>
    <span class="fw-bold">Armor Class</span> {{monster.armor_class}}
</div>
<div>
    <span class="fw-bold">Hit Points</span> {{monster.hit_points}} ({{monster.hit_dice}})
</div>

<hr>

<table class="table table-borderless table-sm text-center">
    <thead>
        <th scope="col">STR</th>
        <th scope="col">DEX</th>
        <th scope="col">CON</th>
        <th scope="col">INT</th>
        <th scope="col">WIS</th>
        <th scope="col">CHA</th>
    </thead>
    <tbody>
        <td>{{monster.strength}} ({{monster.mod(monster.strength)}})</td>
        <td>{{monster.dexterity}} ({{monster.mod(monster.dexterity)}})</td>
        <td>{{monster.constitution}} ({{monster.mod(monster.constitution)}})</td>
        <td>{{monster.intelligence}} ({{monster.mod(monster.intelligence)}})</td>
        <td>{{monster.wisdom}} ({{monster.mod(monster.wisdom)}})</td>
        <td>{{monster.charisma}} ({{monster.mod(monster.charisma)}})</td>
    </tbody>
</table>

<hr>
Challenge {{monster.cr()}} ({{monster.xp}} XP)

{% if monster.special_abilities %}
<hr>

<h4>Special Abilities</h4>
{% for spab in monster.special_abilities %}

<div class="mb-2">
    <b>{{spab.name}}.</b> {{spab.desc}}
</div>

{% endfor %}
{% endif %}

<hr>
<h4>Actions</h4>

{% for act in monster.actions %}
<div class="mb-2">
    <b>{{act.name}}.</b> {{act.desc}}
</div>
{% endfor %}