{% extends 'base.html' %}

{% block title %}
{{monster.name}}
{% endblock %}

{% block content%}

<h1>
    {{monster.name}}
</h1>

<h5>
    {{monster.size.lower()}} {{monster.type}} {% if monster.subtype %}({{monster.subtype}}){% endif %}
</h5>

<hr>

<div>
    Armor Class {{monster.armor_class}}
</div>
<div>
    Hit Points {{monster.hit_points}} ({{monster.hit_dice}})
</div>

<hr>

<table>
    <thead>
        <th scope="col">STR</th>
        <th scope="col">DEX</th>
        <th scope="col">CON</th>
        <th scope="col">INT</th>
        <th scope="col">WIS</th>
        <th scope="col">CHA</th>
    </thead>
    <tbody>
        <td>{{monster.strength}} ({{monster.mod(monster.strength)}})</td>
        <td>{{monster.dexterity}} ({{monster.mod(monster.dexterity)}})</td>
        <td>{{monster.constitution}} ({{monster.mod(monster.constitution)}})</td>
        <td>{{monster.intelligence}} ({{monster.mod(monster.intelligence)}})</td>
        <td>{{monster.wisdom}} ({{monster.mod(monster.wisdom)}})</td>
        <td>{{monster.charisma}} ({{monster.mod(monster.charisma)}})</td>
    </tbody>
</table>

<hr>
Challenge {{monster.cr()}} ({{monster.xp}} XP)

{% if monster.special_abilities %}
<hr>
<h3>Special Abilities</h3>
{% for spab in monster.special_abilities %}
<div>
    <b>{{spab.name}}.</b> {{spab.desc}}
</div>
{% endfor %}
{% endif %}

<hr>
<h3>Actions</h3>

{% for act in monster.actions %}
<div>
    <b>{{act.name}}.</b> {{act.desc}}
</div>
{% endfor %}

{% endblock %}