<div class="offcanvas offcanvas-end" tabindex="-1" id="filter-panel" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Filter Monsters</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <form id="monster-filter-form" action="">
            <div class="mb-3">
                <label for="amount" class="form-label">Challenge Rating: </label>
                <input id="amount" type="text" class="form-label text-primary" readonly
                    style="border:0; font-weight:bold;">
                <div class="mx-5">
                    <div id="slider-range" class="form-control form-range"></div>
                </div>
            </div>

            <div>
                <label for="type-input" class="form-label">Type: </label>
                <div class="mx-5">
                    <select name="type" id="type-input" class="form-control">
                        <option value="">any type</option>
                        {% for t in monster_types %}
                        <option value="{{t}}">{{t}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- UPDATING form on "change", so don't need submit.     
    <div>
        <button class="btn btn-primary btn-sm">Submit</button>
    </div> -->

        </form>


    </div>
</div>