{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">

    <h2 class="join-message">Register a new account</h2>

    <p class="lead">Already have an account? <a href="/login">Log in here.</a></p>

    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control mb-2") }}
      {% endfor %}
      <div class="d-grid">
        <button class="btn btn-primary btn-block">Sign me up!</button>
      </div>
    </form>

  </div>
</div>

{% endblock %}