{% extends 'base.html' %}

{% block title %}
User Page
{% endblock %}

{% block content %}

<h1>{{user.username}}</h1>

<h5 class="mt-5 mb-2">Saved Encounters</h5>


{% if user.encounters %}
<div id="user-saved-encounters">
    {% for enc in user.encounters %}
    <p>
    <form class="inline">
        <button type="button" data-eid="{{enc.id}}" class="btn btn-outline-primary btn-sm load-encounter-btn">
            <i class="fa-solid fa-arrow-up-from-bracket"></i> Load
        </button>
        <button type="submit" formaction="/encounters/{{enc.id}}/delete" formmethod="POST"
            class="btn btn-outline-danger btn-sm">
            <i class="fa-solid fa-trash-can"></i> Delete
        </button>
        <span class="ms-2">{{enc.summarize(100)}}</span>
    </form>
    </p>
    {% endfor %}
</div>

{% else %}
<i class="ms-2">
    You have no saved encounters.
</i>
{% endif %}

{% endblock %}


{% block scripts %}
<script src="/static/user-page.js"></script>
{% endblock %}